@page
@model PrivacyModel
@{
    ViewData["Title"] = "Our Team";
}

<body style="background-color:black">
    <main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-dark" style="color:white; font-family: Elephant">Meet our team!</h1>
@*                <p class="lead text-muted">Assure Recruitment is what it is today thanks to these brilliant people who continue to show up and give their best every single day. Read ahead to find out more about these amazing team builders.</p>
*@            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm col-xs-12">
                <div class="card">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEcfCDjoxfM0g/profile-displayphoto-shrink_400_400/0/1517815540566?e=1670457600&v=beta&t=ilX3NtQoKYgoOL-seZQkK8JeR3x6Ej8JT5YAx2RX_A4" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Avi Aggarwal</title><rect width="100%" height="100%" fill="#55595c" /></svg>
                    <h3 style="text-align:center">Avi Aggarwal</h3>
                    <p class="card-text"><strong>Lead Architect and CIO</strong></p>
                </div>
            </div>
            <div class="col-sm col-xs-12">
                <div class="card">
                    <img src="https://media-exp1.licdn.com/dms/image/D5635AQFeaLC_8xlLgw/profile-framedphoto-shrink_400_400/0/1662789867144?e=1665334800&v=beta&t=dvZi2wfOuI_FYUy3rfNyU_mzaP0ZyOof5Xr_vaQOSaQ" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pavan Motagi</title><rect width="100%" height="100%" fill="#55595c" /></svg>
                    <h3 style="text-align:center">Pavan Motagi</h3>
                    <p class="card-text"><strong>President and CEO</strong></p>
                </div>
            </div>
            <div class="col-sm col-xs-12">
                <div class="card">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHkHaiDHm6rbA/profile-displayphoto-shrink_400_400/0/1663178586136?e=1670457600&v=beta&t=YQyrVRA-ixaUUl6oaJ0Tc31g2agJpXD_6L0Xrb6waV4" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Sean McGill</title><rect width="100%" height="100%" fill="#55595c" /></svg>
                    <h3 style="text-align:center">Sean McGill</h3>
                        <p class="card-text"><strong>Head of Marketing</strong></p>
                </div>
            </div>
            <div class="col-sm col-xs-12">
                <div class="card">
                    <img src="https://media-exp1.licdn.com/dms/image/D5635AQEQ9WWxKfz6eA/profile-framedphoto-shrink_400_400/0/1664126569092?e=1665334800&v=beta&t=5yi5eUpfVldTOIyK1z6K08JL-3oT9YXpQLbe0oTxQxI" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Praneeth Munukutla</title><rect width="100%" height="100%" fill="#55595c" /></svg>
                    <h3 style="text-align:center">Praneeth M</h3>
                        <p class="card-text"><strong>Business Development Lead</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div>
        <style>
            p {
                background-color: #D6EAF8;
                padding: 15px;
                text-align: center;
            }
        </style>
        <p>
            <br><strong>Love what we do? </strong><br /> Now, you can be a part of our dynamic team by clicking on the button below! We will reach out to you soon!<br />
            <button type=button>Join Us!</button>
        </p>
    </div>
</body>



