@page
@model RecruitCatAggarwai.Pages.Candidates.EditModel

@{
    ViewData["Title"] = "Edit Candidate";
}

<h1>Edit Candidate</h1>

<h4>Candidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Candidate.CandidateId" />
            <div class="form-group">
                <label asp-for="Candidate.FirstName" class="control-label"></label>
                <input asp-for="Candidate.FirstName" class="form-control" />
                <span asp-validation-for="Candidate.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.LastName" class="control-label"></label>
                <input asp-for="Candidate.LastName" class="form-control" />
                <span asp-validation-for="Candidate.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.TargetSalary" class="control-label"></label>
                <input asp-for="Candidate.TargetSalary" class="form-control" />
                <span asp-validation-for="Candidate.TargetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ExpectedStartDate" class="control-label"></label>
                <input asp-for="Candidate.ExpectedStartDate" class="form-control" />
                <span asp-validation-for="Candidate.ExpectedStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ContactNumber" class="control-label"></label>
                <input asp-for="Candidate.ContactNumber" class="form-control" />
                <span asp-validation-for="Candidate.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.YearsOfExperience" class="control-label"></label>
                <input asp-for="Candidate.YearsOfExperience" class="form-control" />
                <span asp-validation-for="Candidate.YearsOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.JobTitle_Id" class="control-label"></label>
               @* <input asp-for="Candidate.JobTitle_Id" class="form-control" />*@
                <select asp-for="Candidate.JobTitle_Id" class="form-control" asp-items="ViewBag.Job_Title"></select>
                <span asp-validation-for="Candidate.JobTitle_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Industry_Id" class="control-label"></label>
                @*<input asp-for="Candidate.Industry_Id" class="form-control" />*@
                <select asp-for="Candidate.Industry_Id" class="form-control" asp-items="ViewBag.IndustryName"></select>
                <span asp-validation-for="Candidate.Industry_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Company_Id" class="control-label"></label>
                @*<input asp-for="Candidate.Company_Id" class="form-control" />*@
                <select asp-for="Candidate.Company_Id" class="form-control" asp-items="ViewBag.CompanyName"></select>
                <span asp-validation-for="Candidate.Company_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
