@page
@model FoodPanda.Pages.Cuisines.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add new cuisine?</h1>

<h4>Cuisine</h4>
<hr />
<body style="background-color:beige">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cuisine.CuisineName" class="control-label"></label>
                <input asp-for="Cuisine.CuisineName" class="form-control" />
                <span asp-validation-for="Cuisine.CuisineName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-page="Index" input type="submit" class="btn btn-primary">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
