@page
@model PrivacyModel
@{
    ViewData["Title"] = "Our Team";
}
<h1>@ViewData["Title"]</h1>

<div>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
</div>
<div>
    <body>
        <header>
            <h2> Meet Our Team</h2>
        </header>

        <section class="intro">
            <div class="background-image1"></div>
        </section>

        <section class="services">
            <h3 class="title">Key Members:</h3>
            <hr>
            <ul class="grid">
                <figure>
                    <img style="width:500px; height:500px" src='https://media-exp1.licdn.com/dms/image/C5603AQEcfCDjoxfM0g/profile-displayphoto-shrink_800_800/0/1517815540566?e=1668038400&v=beta&t=Jxg2zUrBQtddrPo7-3_ORyCClfoxzYoqO4z4k6IttR0' alt='missing' />
                    <figcaption><center><strong>Avi Aggarwal</strong></center></figcaption>
                    <p><center><strong>Lead Recruiter</strong></center></p>
                </figure>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <figure>
                    <img style="width:500px; height:500px" src='https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80' alt='missing' />
                    <figcaption><center><strong>John Doe 1</strong></center></figcaption>
                    <p><center><strong>Vice President &Aacute; Head of Recruitment</strong></center></p>
                </figure>
                <figure>
                    <img style="width:500px; height:500px" src='https://images.unsplash.com/photo-1480429370139-e0132c086e2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80' alt='missing' />
                    <figcaption><center><strong>John Doe 2</strong></center></figcaption>
                    <p><center><strong>President & Head of Interview Preparation Cell</strong></center></p>
                </figure>
            </ul>
        </section>

        <section1>
            <h2 style="text-align:left"><i><u>Avi Aggarwal</u></i></h2>
            <ul>
                <li>Graduated from U Cincinnati (MS Information Systems)</li>
                <li>B.Tech from JIIT (Computer Science Engineerinig)</li>
                <li>Former Recruiter at Octro Inc.</li>
                <li>Former interview trainer at Counterpoint</li>
            </ul>
            <h2 style="text-align:left"><i><u>John Doe 1</u></i></h2>
            <ul>
                <li>Graduated from Wharton (MBA Information Technology)</li>
                <li>Expertise and experience of more than 25 years in recruitment at Nokia, ARM, Qualcomm</li>
                <li>Former Head of Recruitment at Qualcomm</li>
            </ul>
            <h2 style="text-align:left"><i><u>John Doe 2</u></i></h2>
            <ul>
                <li>Graduated from Kellogg (MBA Finance)</li>
                <li>Former Head of Resume and Interview Training at WeWork</li>
            </ul>
        </section1>

    </body>
</div>


